NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBhNKbNtE1WH-blJNKuskfMX2mtpPVTM1s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=crmportfoliodefan.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=crmportfoliodefan
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=crmportfoliodefan.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=553450333369
NEXT_PUBLIC_FIREBASE_APP_ID=1:553450333369:web:107fb628ce85efc9032768
NEXT_PUBLIC_ADMIN_EMAIL=taisadefante@hotmail.com
